.banner {
    color:#fff;
    object-fit: contain;
    height:448px;
}

@media(min-width: 1500px) {
    .banner {
        position:relavive;
        height:600px;
    }

    .banner__fadeBottom {
        position:absolute;
        bottom:0;
        width:100%;
        height:40rem;
    }
}

.banner__contents {
    margin-left:100px;
    padding-top:140px;
    height:190px;
}


.banner__title {
    font-size:3rem;
    font-weight: 800;
    padding-bottom:.5rem;
    margin:0;
}

.banner__description {
    width:45rem;
    line-height:1.3;
    padding-top:1rem;
    font-weight:500;
    max-width:500px;
    height:80px;
    font-size:1rem;
}

.banner__buttons {
    border:none;
    font-size:1rem;
    outline:none;
    font-weight:700;
    border-radius:2px;
    padding:.4rem 1rem;
    cursor: pointer;
}

.banner__buttons:hover {
    color:#000;
    background:rgba(170,170,170,.9);
    transition:all .2s;
}

.banner__fadeBottom {
    height:7.4rem;
    background-image:linear-gradient(180deg, transparent, rgba(37,37,37,.61), #111)
}